.button {
    display: inline-block;

    padding: 15px 20px;

    cursor: pointer;

    border: none;
    background-color: transparent;
}

.button--type_round {
    border: #c2c0c7 1px solid;
    border-radius: 25px;
}

.button:hover {
    background-color: #ffd700;
}
