.Button {
    display: inline-block;
    padding: 15px 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.Button_type_round {
    border: #c2c0c7 1px solid;
    border-radius: 25px;
}

.Button:hover {
    background-color: gold;
}
